.card-popup__close {
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  position: absolute;
  margin-top: -6rem;
  margin-left: 42rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card-popup__close__slash {
  position: absolute;
  background-color: var(--bad);
  width: 0.2rem;
  height: 1.6rem;
  border-radius: 0.1rem;
  transform: rotate(45deg);
}

.card-popup__close__slash--back {
  position: absolute;
  background-color: var(--bad);
  width: 0.2rem;
  height: 1.6rem;
  border-radius: 0.1rem;
  transform: rotate(-45deg);
}
