.viewer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 3rem;
  grid-gap: 3rem;
  box-sizing: border-box;
}

/* PICTURES & VIDEOS */

.viewer__visual {
  display: block;
  padding: 0;
}

.viewer__visual img {
  max-width: 40vw;
  max-height: calc(100vh - 6rem);
  border-radius: 1em;
}

.viewer__visual video {
  max-width: calc(40vw - 3rem);
  max-height: calc(100vh - 6rem);
  border-radius: 1em;
}

/* INTERACTION ZONE DIPLAY */

.viewer__interaction {
  height: calc(100vh - 6rem);
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  transform: none;
  transition: 1s;
  transition-timing-function: cubic-bezier(0, 0.5, 0, 1);
}

.viewer__interaction__header {
  background-color: white;
  padding: 2rem 2rem 0 2rem;
  border-radius: 2rem 2rem 0 0;
  justify-content: center;
  text-align: center;
}

.viewer__interaction__header h2{
  font-size: 2.4rem;
}

.viewer__interaction__header__number {
  font-size: 1.6rem;
  color: var(--info);
  margin-bottom: 0.5rem;
}

.viewer__interaction__header__time {
  width: 83%;
  height: 6px;
  margin-top: 3rem;
  margin-left: -2rem;
  margin-right: -2rem;
  background-color: var(--great);
  border-radius: 0 3px 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: none;
  transition: 1s;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.viewer__interaction__header__time__bubble {
  background-color: var(--great);
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  margin-left: -1.5rem;
  box-shadow: var(--softer-mood) 0 1rem 0 0;
  z-index: 1;
}

.viewer__interaction__header__time__bubble p {
  font-weight: 800;
}

/* ANSWERS */

.viewer__interaction__answers {
  min-height: auto;
  background-color: var(--softer-mood);
  padding: 6rem;
  box-shadow: var(--softer-mood) 0 1rem 0 0 inset;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: scroll;
}

.viewer__interaction__answers__instruction {
  margin-top: auto;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}

.viewer__interaction__answers__MAQ {
  margin-bottom: auto;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.viewer__interaction__answers__MAQ__answer {
  max-width: 800px;
  padding: 1.5rem;
  border: 2px var(--soft-mood) solid;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1.5rem;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.viewer__interaction__answers__MAQ__answer:hover {
  background-color: var(--softer-mood);
  transition: 1s;
  transition-timing-function: cubic-bezier(0, 0.5, 0, 1);
}

.viewer__interaction__answers__MAQ__answer:active {
  background-color: var(--soft-mood);
  transition: 0.1s;
  transition-timing-function: cubic-bezier(0, 0.5, 0, 1);
}

.viewer__interaction__answers__MAQ__answer__button {
  height: 2rem;
  width: 2rem;
  background-color: var(--soft-mood);
  box-shadow: var(--soft-mood) 0 0.6rem 0 0 inset;
  border-radius: 0.4rem;
}

.viewer__interaction__answers__MAQ__answer--selected {
  background-color: var(--soft-mood);
}

.viewer__interaction__answers__MAQ__answer--selected .viewer__interaction__answers__MAQ__answer__button {
  background-image: url(./assets/checked.svg);
  box-shadow: none;
}

/* NAV */

.viewer__interaction__nav {
  width: 100%;
  background-color: white;
  border-radius: 0 0 2rem 2rem;
  padding: 2rem;
  box-shadow: var(--softer-mood) 0 -1rem 0 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
